// Place all the styles related to the ShortenUrl controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$background_color: #F1FAEE;
$font_color_dark: rgba(#000000,0.7);
$button_primary_color: #E63946;
$button_secondary_color: #1D3557;
$button_primary_font_color: rgba(#ffffff,0.7);
$button_secondary_font_color: rgba(#ffffff,0.7);
$link_color: rgba(#1D3557,0.7);

body{
    background-color: $background_color;
    color: $font_color_dark;
    font-family: Verdana, Geneva, sans-serif;

}

#url{
    border: 0;
    padding: 21px;
    font-size: 22px;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    color: $font_color_dark;
    flex:3 1 auto;
    margin: 10px;
}

#generateButton{
    flex:1 1 auto;
    margin: 10px;
}

.form_container{
    display: flex;        
}


.button_primary{
    border: 0;
    padding: 21px;
    font-size: 22px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    background-color: $button_primary_color;
    color: $button_primary_font_color;
    border-radius: 12px;
}

.button_secondary{
    border: 0px;
    padding: 10px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
    background-color: $button_secondary_color;
    color: $button_primary_font_color;
    border-radius: 8px;
    margin-left: 10px;
}

a{
    font-size: 22px;
    color: $link_color;
}

#containerShortenUrl{
    padding: 20px;
}
